*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(120deg,#7400b8,#6930c3);
}
.calculator-container{
    display: flex;
    justify-content:  center;
    align-items:  center;
    height: 100dvh;
    width: 100dvw;
}

.keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.3rem;
    align-items: center;
}

 button{
    height: 4.6rem;
    width: 4.6rem;
    border: none;
    border-radius: 50%;
    background-color: hsl(0, 0%, 15%);
    color: #f5f4f5;
    font-size: 1.5rem;
    box-shadow: 0 0 1px 1px rgb(114, 114, 114);
    cursor: pointer;
}

button:active{
    box-shadow: none;
    background-color: rgb(114, 114, 114,0.3);
}
.keys button.operators{
    background: rgb(167, 120, 2);
}

.calculator{
    border: 1px solid black;
    padding: 1.2rem;
    background-color: rgb(22, 21, 21);
    border-radius: 5px;
}
.display{
    white-space: nowrap;
    overflow-x: hidden;
    width: 100%;
    border-radius: 5px;
    letter-spacing: 4px;
    text-overflow:auto;
    text-align: right;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    padding: 1.5rem 0.5rem;
    background-color:hsl(0, 0%, 20%) ;  
    border: none;
    color: #f5f4f5
        
    
}

